p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
body {
    font-family: 'Courier New', monospace;
    background: #000;
    color: #0f0;
    text-align: center;
    padding: 0rem;
}
injected stylesheet
:host, :root {
    --rem: 16;
}
::selection {
    background: #0f0;
    color: #000;
    text-shadow: 0 0 5px #0f0;
}
::selection {
    background: #0f0;
    color: #000;
    text-shadow: 0 0 5px #0f0;
}
::selection {
    background: #0f0;
    color: #000;
    text-shadow: 0 0 5px #0f0;
}